<a href="https://colab.research.google.com/github/BJay-25/WTM-GDG-Bambili-100days-of-code-Datascience/blob/main/Day_4_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 4 listings and arrays

In [ ]:
List1=['hello','world',2,4,6,8,5,'days','weeks','months',0.1,0.3,0.5,5.8,9.5]
print(List1)

['hello', 'world', 2, 4, 6, 8, 5, 'days', 'weeks', 'months', 0.1, 0.3, 0.5, 5.8, 9.5]

In [53]:
var1=("Hello" + " world")
print(var1)

Hello world

In [54]:
List1.append(var1)
print(List1)

['hello', 'world', 2, 4, 6, 8, 5, 'days', 'weeks', 'months', 0.1, 0.3, 0.5, 5.8, 9.5, 'Hello world']

There's no output for newlist1. It could be because a variable cannot be added to a list or due to syntax errors using the+sign.
The append command adds items like d variable to the list.

In [58]:
list4=[1,2,3,4,5,0.2,0.4,0.5,0.8,0.9,0.79,'fruits', 'school','job','tasks']
print (list4)

[1, 2, 3, 4, 5, 0.2, 0.4, 0.5, 0.8, 0.9, 0.79, 'fruits', 'school', 'job', 'tasks']

In [59]:
list1 = ["Hello", 1, "world", 2]
list2 = [3, "Good", 4, "day"]
list3 = list1 + list2
print (list3)

['Hello', 1, 'world', 2, 3, 'Good', 4, 'day']

In [60]:

#action item
list5=List1+list4
print (list5)

['hello', 'world', 2, 4, 6, 8, 5, 'days', 'weeks', 'months', 0.1, 0.3, 0.5, 5.8, 9.5, 'Hello world', 1, 2, 3, 4, 5, 0.2, 0.4, 0.5, 0.8, 0.9, 0.79, 'fruits', 'school', 'job', 'tasks']

In [61]:
#action item
List2=[5, 6, 7.0, "Eight", "Nine"]
print (List2)
List3=List2
print (List3)

[5, 6, 7.0, 'Eight', 'Nine']
[5, 6, 7.0, 'Eight', 'Nine']