<a href="https://colab.research.google.com/github/BJay-25/WTM-GDG-Bambili-100days-of-code-Datascience/blob/main/Day_3_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
Day one was about creating repositories and pushing codes from Google collabs to them
Day 2 creating vars,datatypes and naming of vars.
'''
#example of a variable
sample_variable=None
#this var is an empty var bcz there's no data in it(none)
#let's specify different var names and see if they work
#-new var =None,Even_numbers=None,Oddnumbers =None these var name could not work

In [ ]:

sample_variable=('Hello World')
#the text in bracket is known as a string it is an example of a data type
#Other datatypes include floating wc r decimals,integers,binary e.t.c

In [ ]:
print(sample_variable)

Hello World

In [ ]:
#Day 3 mathematical operations and how to perform calculations using python3 and how it relies on the CPU and GPU
answer = 1 + 1
print(answer)
#the signs +and = are examples of operators wc r used for processing

2

In [ ]:
Var1=2+2
print (Var1)
# the datatype 2+2 is an integer

4

In [ ]:
Var2=3+2/5
print (Var2)
#data type floats with 3 operators i.e division, addition and equal to

3.4

In [ ]:
Var3=4*16
print (Var3)
#datatype integer

64

In [4]:
Var4=4**6
print (Var4)
#datatype here is an integer with 2 operators

4096

In [ ]:
Var5=('Hello' + ' ' + 'world')
print (Var5)
#the datatype here is a string linked together by the plus operator sign

Hello world

In [ ]:
Var6=('Hello World * 5')
print (Var6)
type(Var6)
#datatype is a string

Hello World * 5

str

The type command shows the type of datatype that's in the variable

In [5]:
Var7=4%3
print (Var7)

1

Datatype float or fraction with the modulo operator %